{
    "env": {
        "browser": true,
        "jest/globals": true,
        "node": true
    },
    "extends": [
        "airbnb",
        "plugin:jest/recommended",
        "prettier",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "jest",
        "react-hooks",
        "react",
        "prettier",
        "import",
        "@typescript-eslint"
    ],
    "overrides": [
        {
            "files": [
                "*.js",
                "*.ts",
                "*.tsx"
            ]
        }
    ],
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [
                ".js",
                ".ts",
                ".jsx",
                ".tsx"
            ]
        },
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".ts",
                    ".jsx",
                    ".tsx"
                ]
            },
            "typescript": {
                "project": "<root>/tsconfig.json"
            }
        }
    },
    "rules": {
        "import/no-extraneous-dependencies": "off",
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [
                    ".jsx",
                    ".tsx",
                    ".js"
                ]
            }
        ],
        "func-names": "error",
        "curly": [
            "error",
            "all"
        ],
        "import/order": [
            "error",
            {
                "newlines-between": "never"
            }
        ],
        "jest/consistent-test-it": [
            "error",
            {
                "fn": "test"
            }
        ],
        "jest/expect-expect": "error",
        "jest/prefer-todo": "warn",
        "max-len": [
            "error",
            120,
            {
                "ignoreComments": true,
                "ignoreRegExpLiterals": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreTrailingComments": true,
                "ignoreUrls": true,
                "tabWidth": 4
            }
        ],
        "no-irregular-whitespace": [
            "error",
            {
                "skipComments": false,
                "skipRegExps": false,
                "skipStrings": false,
                "skipTemplates": false
            }
        ],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": [
            "error",
            {
                "classes": true,
                "functions": false,
                "variables": true,
                "typedefs": false
            }
        ],
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "error",
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "next": "return",
                "prev": "*"
            },
            {
                "blankLine": "any",
                "next": "return",
                "prev": [
                    "block-like",
                    "const",
                    "let",
                    "var"
                ]
            },
            {
                "blankLine": "always",
                "next": "export",
                "prev": "*"
            },
            {
                "blankLine": "any",
                "next": "export",
                "prev": "export"
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "printWidth": 120,
                "singleQuote": true,
                "tabWidth": 4,
                "trailingComma": "es5"
            }
        ],
        "react/jsx-no-bind": "error",
        "react/destructuring-assignment": "warn",
        "react/function-component-definition": [
            "error",
            {
                "namedComponents": "function-declaration",
                "unnamedComponents": "function-expression"
            }
        ],
        "react/jsx-first-prop-new-line": "error",
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "react/jsx-key": "error",
        "react/jsx-sort-default-props": [
            "error",
            {
                "ignoreCase": true
            }
        ],
        "react/jsx-sort-props": [
            "error",
            {
                "ignoreCase": true
            }
        ],
        "react/no-access-state-in-setstate": "error",
        "react/require-default-props": "error",
        "react/require-optimization": "error",
        "react/prop-types": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "import/prefer-default-export": "off",
        "no-redeclare": "off",
        "@typescript-eslint/no-redeclare": ["error"]
    }
}