@import '../../../styles/constants';

.root {
    height: 100%;
    padding: $spacing-distance-desktop;
    display: flex;
    gap: $spacing-distance-desktop;
    flex-wrap: wrap;
}

.panel {
    flex-grow: 1;
}

.searchFilters {
    max-width: 256px;
}
